#about{
    color: white;
    background: #171717;
    width: 100%;
    height: 100%;
    align-items: center;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.picture {
    min-height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    
}